/* Write your code here. */
.bg_container {
  background-color: #f1f5f8;
  /* height: 130vh; */
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.faq_container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  width: 80%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.heading {
  text-align: center;
  font-size: 35px;
  font-family: 'roboto';
  font-weight: 700;
  color: #cb8805;
}
.list_container {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
